################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ipch/PERFORCEREVISIONSEARCHER-2a56aa13
